body {
    /* #5A5B5B #CADB2B*/
    background-color: #ddd;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: 'Amatic SC', cursive;
}
::selection {
    color: none;
    background: none;
  }
.App{
    width: 100vw;
    height:100vh;

}
/* -------------cricle (navbar info before touch)----------- */
.dev_photo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 13em auto;
    background-color:#CADB2B;
    background-image: url(images/act.png);
    background-position: center;
    background-repeat: no-repeat;
    width:calc(100vw/5);
    height:calc(100vw/5);
    box-shadow: 5px 5px 5px black;
    border-radius: 500px;
    background-size: cover;
    animation: jump1 2s  ease-in-out forwards;
    
    
   
}
.dev_photo:hover{
    cursor: pointer;
}

.navbaranim{
    animation: jump  0.75s ease-in-out forwards;
}

/* ----navbar ------ */

.devinfo { 
    text-align: center; 
   
justify-content: center;}
    
.dropdown{
    display: none;
    position: absolute;
    width: 70px;
    height: 80px;
    align-content: center;

}
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 10%;
    left: -80%;
    width: 200px;
    height: auto;
    background-color: #5A5B5B;
    border-radius: 2em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    
  }
  
  .dropdown-content a:hover {background-color: #ddd; border-radius: 2em; cursor: pointer;}
  .dropdown:hover .dropdown-content {display: block;position: absolute;margin: 100% auto;}
  
/* ----------photoalbum------ */
.top{
display: block;
position: relative;
width:90%;
height: 70%;
margin: auto;
background: black;


}
.bottom{
    font-size: 3vh;
    letter-spacing: 1vw;
    text-align: center;
}

/* -------------social Media------------ */

.social-menu ul{
    position: absolute;
    z-index: 100;
    right: 0;
    padding: 0;
    margin:20px ;
  
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
  
}

.social-menu ul li a:hover{
    transform: translate(0, -20%);
}

.social-menu ul li:nth-child(1) a svg:hover{
    background-color: black !important;
}
.social-menu ul li:nth-child(2) a svg:hover{
    background-color: #E4405F !important;
}
.social-menu ul li:nth-child(3) a svg:hover{
    background-color: red !important;
}
.social-menu ul li:nth-child(4) a svg:hover{
    background-color: rgba(26,166,233,1) !important;
}

/* --------buttons------- */

button[type="button"]{
    margin:0.1rem 0.5rem 0.2rem 0.1rem;
    padding: 0 2vw;
    background-color: #5A5B5B;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    font-size: 2vw;
    outline-style: none;
    color:white;
}
button[type="button"]:hover{
    cursor: pointer;
}

  /* ----------animations------------ */

 

  @keyframes jump {

   
    100%{
        position: absolute;
        margin-top: 0;
        width: 70px;
        height: 70px;
      
        z-index: 99;
     
        image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

        background:  #5A5B5B url(./images/act.png) no-repeat center center;
        background-size: cover;
       
    }

   

}
@keyframes jump1 {
    
 
    50%{
        margin: 9em auto;
    }
 
    
    100%{
        margin: 13em auto;
    }
    
}

@keyframes photo1 {
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:10%;
        transform:rotate(345deg);
        top:10%;
    }
    
}
@keyframes photo2{
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:20%;
        transform:rotate(345deg);
        top:60%;
    }
    
}
@keyframes photo3 {
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:30%;
        transform:rotate(385deg);
        top:10%;
    }
    
}
@keyframes photo4 {
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:60%;
        transform:rotate(345deg);
        top:10%;
    }
    
}
@keyframes photo5 {
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:75%;
        transform:rotate(365deg);
        top:60%;
    }
    
}
@keyframes photo6 {
    0%{
        left:0%;
        transform:rotate(0deg);
        top:0%;
    }
 
 
    
    100%{
        left:85%;
        transform:rotate(385deg);
        top:30%;
    }
    
}
